/** @format */

.about_grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  padding: 1rem;
}

.about_leftside {
  grid-area: 1 / 1 / 2 / 2;
  animation: fadeIn 400ms cubic-bezier(0.76, 0, 0.24, 1) forwards;
}

.about_rightside {
  grid-area: 1 / 2 / 2 / 3;
}

.left_container {
  padding: 1rem;
  border: 1px soldi red;
}
.left_container p {
  padding-bottom: 3rem;
  max-width: 55ch;
}

.right_container {
  position: sticky;
  padding: 1rem;
  display: grid;
  justify-content: center;
  top: 150px;
  width: 100%;
}
.about_social {
  display: flex;
  justify-content: center;
  text-align: center;
}
.about_image {
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 3px 5px 10px rgba(110, 110, 110, 0.2);
  height: 95%;
  width: 100%;
  transform: scale(1.1);
  animation: Scale 800ms cubic-bezier(0.79, 0.14, 0.15, 0.86) forwards;
}

.about_img_container {
  position: relative;
  height: 500px;
  width: 100%;
}

.detail_cta {
  padding: 3rem;
  display: grid;
  gap: 2rem;
  justify-content: center;
  text-align: center;
}
.btn {
  background-image: url('../../../public/btn.svg');
  background-repeat: no-repeat;
  padding: 0.6rem;
  cursor: pointer;
  width: fit-content;
}
.btn span {
  margin: 1.8rem;
  transition: 300ms ease-in-out;
}
.btn span:hover {
  color: var(--clr-black);
}
.spacer {
  height: 10vh;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Scale {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 62.5em) {
    .about_grid{
        display: flex;
        flex-direction: column;
    }
    .about_leftside{
        order: 2;
    }
    .about_rightside{
        order: 1;
    }
    .left_container{
        display: grid;
        justify-content: center;
        text-align: center;
    }
    .left_container article p{
        width: 100%;
        text-align: center;
    }
    .mobile_center{
        display: grid;
        justify-content: center;
    }
    .right_container{
        padding: 0;
    }
}
@media (max-width: 45em) {
}
@media (max-width: 35em) {
}
@media (max-width: 35em) {
}
