/** @format */

:root {
  /* --- colors --- */

  --clr-black: hsl(60, 4%, 11%);
  --clr-white: hsl(90, 100%, 96%);
  --clr-creme: hsl(39, 67%, 94%);
  --clr-accent: hsl(10, 100%, 65%);
  --clr-blue: hsl(203, 100%, 23%);

  --ff-serif: 'Spectral', sans-serif;
  --ff-sans: 'Zwister', sans;

  /* --- font sizes --- */

  --fs-900: clamp(2.4883rem, -0.5749rem + 6.8072vi, 7.5938rem);
  --fs-800: clamp(2.0736rem, 0.2803rem + 3.9852vi, 5.0625rem);
  --fs-700: clamp(1.728rem, 0.7398rem + 2.196vi, 3.375rem);
  --fs-600: clamp(1.44rem, 0.954rem + 1.08vi, 2.25rem);
  --fs-500: clamp(1.2rem, 1.02rem + 0.4vi, 1.5rem);
  --fs-400: clamp(1.1rem, 1.01rem + 0vi, 1rem);
  --fs-300: clamp(0.7667rem, 0.9333rem + -0.2222vi, 0.8333rem);
}
/* --- fonts --- */
@font-face {
  font-family: 'Zwitser';
  font-style: normal;
  font-weight: 400;
  src: url('./font/Zwister.woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  src: url('./font/Spectral-Italic.woff2');
}

/* --- Reset --- */

html {
  hanging-punctuation: first last;
  font-smooth: always;
  color-scheme: dark light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
span,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  text-wrap: pretty;
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: var(--clr-black);
  text-decoration: none;
}

body {
  font-family: 'Zwister', 'system-ui', '-apple-system', 'Roboto', 'Open Sans',
    'Helvetica Neue', sans-serif;
  color: var(--clr-black);
  background-color: var(--clr-white);
  font-size: 16px;
  font-display: swap;
  line-height: 1.2;
  overflow-x: hidden;
}

img,
picutre {
  max-width: 100%;
  display: block;
}

:target {
  scroll-margin-block: 5px;
}
/*--- typography ---*/

.ff-serif {
  font-family: 'Spectral', sans-serif;
}

.ff-sans {
  font-family: 'Zwitser', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Spectral', sans-serif;
}

a,
span,
p,
button,
Link {
  font-family: 'Zwitser', sans-serif;
}
/* --- colors ---  */
/*-- colors --*/
.white {
  color: var(--clr-white);
}
.creme {
  color: var(--clr-creme);
}
.black {
  color: var(--clr-black);
}
.blue {
  color: var(--clr-blue);
}
.accent {
  color: var(--clr-accent);
}

/*--- font styles ---*/
.upper {
  text-transform: uppercase;
}
.italic {
  font-style: italic;
}
.fw {
  font-weight: bold;
}

/*--- font sizes --- */

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}

/* --- line heights --- */
.l-1 {
  line-height: 1.2;
}
.l-2 {
  line-height: 1.4;
}
.l-3 {
  line-height: 1.6;
}
.l-4 {
  line-height: 1.8;
}

.l-s {
  letter-spacing: 1px;
}
.l-m {
  letter-spacing: 2px;
}
.l-b {
  letter-spacing: 3px;
}
/*--- Utils --- */

.page-wrapper {
  padding-top: 5rem;
  max-width: 1920px;
  margin: 0 auto;
}
